{% extends 'base.html' %}{% load static %}{% block maincontent %}

<head>
    <title>terms</title>
</head>

<body style="background-color: #f3f5f7;">
    <h1>telehakim</h1>
    <div class="container col-6 main my-5 ">
        <div class="row  d-flex align-items-center ">
            <div class="col-lg-12 px-2">
                <div class="card bg-primary">
                    <h3 class="p-2 text-center text-white">please select gender</h3>
                </div>
            </div>
            <div class="col-12 col-md-6 main-text align-item-center ">
                <div class="image-container text-center">
                    <img class="img " onclick="selectImage('page1.html')" src="{% static 'heartcare/images/recommend/male.png' %} " alt=" ">
                    <p class="text-center">Male</p>
                </div>
            </div>
            <div class="col-12 col-md-6 align-items-center ">
                <div class="image-container">
                    <img class="img " onclick="selectImage('page2.html')" src="{% static 'heartcare/images/recommend/female.png' %} " alt=" ">
                    <p class="text-center">Female</p>
                </div>
            </div>
            <div class="text-center text-danger" id="message"></div>
            <div class="container-fluid ">
                <hr>
            </div>

            <div class="col d-flex justify-content-center pr-5 ">
                <button id="nextButton" class="btn-1">Next</button>
            </div>
        </div>

    </div>
    <script>
        var page1 = {
            clicked: false
        };
        var page2 = {
            clicked: false
        };

        function selectImage(page) {
            if (page === 'page1.html') {
                page1.clicked = true;
            } else if (page === 'page2.html') {
                page2.clicked = true;
            }

            if (page1.clicked || page2.clicked) {
                document.getElementById('nextButton').disabled = false;
            } else {
                document.getElementById('nextButton').disabled = true;
            }
        }

        var nextButton = document.getElementById('nextButton');
        nextButton.addEventListener('click', function() {
            if (page1.clicked) {
                window.location.href = "{% url 'interview3'%}";
            }
            if (page2.clicked) {
                window.location.href = "{% url 'interview3'%}";
            } else {
                message.innerText = "Please select your gender.";
            }
        });
    </script>
</body> {% endblock maincontent%}