{% extends 'base.html' %}{% load static %}{% block maincontent %}

<head>
    <title>terms</title>
</head>

<body style="background-color: #f3f5f7;">
    <h1>telehakim</h1>
    <div class="container col-6 main my-5 ">
        <div class="row  d-flex align-items-center ">
            <div class="col-12 col-md-6 main-text align-item-center ">
                <div class="image-container">
                    <img class="img d-flex justify-content-center" onclick="selectImage('page1.htm1')" src="{% static 'heartcare/images/recommend/male.png' %} " alt=" ">
                    <p class="text-center">Male</p>
                </div>



            </div>
            <div class="col-12 col-md-6 align-items-center ">
                <div class="image-container">
                    <img class="img d-flex justify-content-center" onclick="selectImage('page1.html2')" src="{% static 'heartcare/images/recommend/female.png' %} " alt=" ">
                    <p class="text-center">Female</p>
                </div>
            </div>
            <div class="container-fluid ">
                <hr>
            </div>

            <div class="col d-flex justify-content-center pr-5 ">
                <button id="nextButton" class="btn-1" disabled>Next</button>
            </div>
        </div>

    </div>
    <script>
        var selectedImage = null;
        var nextButton = document.getElementById('nextButton');

        function selectImage(page) {
            selectedImage = page;
            nextButton.disabled = false;
        }

        nextButton.addEventListener('click', function() {
            if (selectedImage === 'page1.html') {
                window.location.href = 'page1.html';
            } else if (selectedImage === 'page2.html') {
                window.location.href = 'page2.html';
            }
        });
    </script>
</body> {% endblock maincontent%}