{% extends 'base.html' %}{% load static %}{% block maincontent %}

<head>
    <title>terms</title>
</head>

<body>
    <h1>telehakim</h1>
    <div class="container pt-5 main ">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6 main-text align-item-center">
                <div>
                    <h4>Terms of Service</h4>
                    <h5>Before using the checkup, please read the Terms of Service and remember:</h5>
                </div>

            </div>
            <div class="col-12 col-md-6 ps-5 align-items-center">
                <div>
                    <img class="img" src="{% static 'heartcare/images/recommend/terms of service.png' %}" alt="">
                </div>

            </div>
        </div>

    </div>

</body> {% endblock maincontent%}