{% extends 'base.html' %}{% load static %}{% block maincontent %}

<body class="body">
    <h1>hey</h1>
    <div class="container pt-5 main ">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6 main-text text-center align-item-center">

                <div>
                    <h1>What concerns you about your health today?</h1>
                </div>
                <div>
                    <h4>Check your symptoms and find out what could be causing them. It's fast, free and anonymous.</h4>
                </div>
            </div>
            <div class="col-12 col-md-6 ps-5 align-items-center">
                <div>
                    <img class="img" src="{% static 'heartcare/images/recommend/symptom.png' %}" alt="">
                </div>

            </div>
        </div>
        <div class="row d-flex align-items-center text-center">
            <div class="btn-1 ">
                <a class="btn-1 " href="{% url 'recommend' %}">start checkup</a>
            </div>
        </div>
    </div>
</body>
{% endblock maincontent %}