{% load static %}
<!DOCTYPE html>

<head lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TeleHakim | dr recommendation</title>{% include 'partials/_css.html'%}</head>

    <body>
        <!--Wrapper Start-->
        <div class="wrapper">
            {% include 'partials/_header.html' %} {% block maincontent %} {% endblock maincontent %} {% include 'partials/_footer.html' %}



    </body>

    </html>